<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-2 lg:gap-8">
      <div>
        <h2 class="py-6 text-3xl font-medium tracking-tight sm:text-4xl">
          How your support will help us
        </h2>
        <p class="text-lg">
          Your support will help us with things such as:
        </p> 
        <ul class="flex flex-col gap-2 p-4">
          <li class="list-disc">Material costs for constructing the robot for the FIRST competition</li>
          <li class="list-disc">Help us cover costs of our transportation and lodging</li>
          <li class="list-disc">Registration fees for the FIRST competition</li>
        </ul>
      </div>
      <div>
        <h2 class="py-6 text-3xl font-medium tracking-tight sm:text-4xl">
          Benefits of sponsoring us
        </h2>
        <p class="text-lg">
          Your sponsorship doesn’t just benefit our team, as it will be a benefit for your company
          as well. Some of the benefits that your company can reap are:
        </p>
        <ul class="flex flex-col gap-2 p-4">
          <li class="list-disc">Company visibility on things like our website, sweaters, banners, or robot<li/>
          <li class="list-disc">Visibility of your company is heightened by the popularity of the FRC competition</li>
          <li class="list-disc">Support a local team and children’s education in STEM</li>
          <li class="list-disc">Allow our team members to have an unforgettable experience at the FIRST competition, building valuable skills for their career and future</li>
          <li class="list-disc">Build relationships with future STEM candidates</li>
        </ul>
      </div>
    </div>
  </div>
</section>
