<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-2 lg:gap-8">
      <div>
        <h2 class="py-6 text-3xl font-medium tracking-tight sm:text-4xl">
          How your support will help us
        </h2>
        <p class="text-lg">
          Your support will help us with things such as:
          <br /> - Material costs for constructing the robot for the FIRST competition
          <br /> - Help us cover costs of our transportation and lodging
          <br /> - Registration fees for the FIRST competition
        </p> 
      </div>
      <div>
        <h2 class="py-6 text-3xl font-medium tracking-tight sm:text-4xl">
          Benefits of sponsoring us
        </h2>
        <p class="text-lg">
          Your sponsorship doesn’t just benefit our team, as it will be a benefit for your company
          as well. Some of the benefits that your company can reap are:
          <br /> - Company visibility on things like our website, sweaters, banners, or robot
          <br /> - Visibility of your company is heightened by the popularity of the FRC competition
          <br /> - Support a local team and children’s education in STEM
          <br /> - Allow our team members to have an unforgettable experience at the FIRST competition,
          building valuable skills for their career and future
          <br /> - Build relationships with future STEM candidates
        </p>
      </div>
    </div>
  </div>
</section>
