<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About Us</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
          We’re Rockway Robotics, FRC Team 8089. We’re from Rockway Mennonite Collegiate in
          Kitchener, Ontario. You can learn more about Rockway Mennonite Collegiate <a href="https://rockway.ca" target="_blank" class="underline">at rockway.ca</a>. Our
          Robotics team is a place for letting students explore STEM and encourage their curiosity.
          The FRC competition is where our students use the skills they’ve developed to compete in a
          high-stakes competition. The Robotics team is a unique opportunity to learn alongside
          professional mentors, who aid the team providing valuable knowledge and a look into a
          potential future in STEM.
        </p>
      </div>
    </div>
  </div>
</section>
