<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            Build Wonder. <br>Build Respect. <br>Build Bridges.<br> Build Robots.
          </h1>
        </div>
      </div>
      <img
        class="h-auto w-full rounded-3xl"
        width="1280"
        height="640"
        src="/assets/hero.webp"
        alt="Hero picture"
      />
    </div>
  </div>
</section>
