---
import { homepage_awards } from '../../content/_homepage_awards.ts';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <div class="flex justify-center gap-10">
        <div
          class="banner h-92 flex w-64 flex-col justify-center bg-[#104BCA] p-6 pb-28 text-center text-white"
        >
          <img
            src="https://rockwayrobotics.github.io/images/first_icon.svg"
            class=""
            alt="FRC Logo"
          />
          <div class="bold text-2xl">
            <span>Winner</span>
          </div>
          <div class="">
            <span>2022 St. Mary C.S.S. District</span>
          </div>
        </div>
        <div
          class="banner h-92 flex w-64 flex-col justify-center bg-[#104BCA] p-6 pb-28 text-center text-white"
        >
          <img
            src="https://rockwayrobotics.github.io/images/first_icon.svg"
            class=""
            alt="FRC Logo"
          />
          <div class="bold text-2xl">
            <span>Winner</span>
          </div>
          <div class="">
            <span>2020 Durham College District</span>
          </div>
        </div>
      </div>
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
        Notable awards | <a href="/awards" class="opacity-60 hover:underline">See all →</a>
      </h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          homepage_awards.map((service) => (
            <div class="flex flex-col gap-4 rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10">
              <p class="text-sm">Year {service.year}</p>
              <div class="flex flex-col gap-2">
                <h3 class="text-2xl font-medium">{service.title}</h3>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <style>
    .banner {
      clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
      transition: all 0.3s ease;
    }
    .banner:hover {
      box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
      transform: translateY(-10px);
    }
  </style>
</section>
