---
const services = [
  {
    year: '20201',
    name: "you're so cool man",
    description: "a very long description about the awards that we won (we're so good)",
  },
  {
    year: '20201',
    name: "you're so cool man",
    description: "a very long description about the awards that we won (we're so good)",
  },
  {
    year: '20201',
    name: "you're so cool man",
    description: "a very long description about the awards that we won (we're so good)",
  },
  {
    year: '20201',
    name: "you're so cool man",
    description: "a very long description about the awards that we won (we're so good)",
  },
  {
    year: '20201',
    name: "you're so cool man",
    description: "a very long description about the awards that we won (we're so good)",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Notable awards | <a href="/awards" class="opacity-60 hover:underline">See all →</a></h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="flex flex-col gap-4 rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10">
              <p class="text-sm">Year {service.year}</p>
              <div class="flex flex-col gap-2">
                <h3 class="text-2xl font-medium">{service.name}</h3>
                <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
