---
import { homepage_sponsors } from '../../content/homepage_sponsors.ts'
---

<section class="py-16 sm:py-20">
  <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2 class="mx-auto max-w-xl text-center text-3xl font-medium tracking-tight sm:text-4xl">
        Made possible by our sponsors <a href="/sponsor" class="text-red-400 hover:underline dark:text-red-500">Sponsor Us →</a>
      </h2>
      <div
        class="flex flex-wrap items-center justify-center gap-2"
      >
        {
          homepage_sponsors.map((testimonial) => (
            <figure class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
              <figcaption class="flex flex-col gap-4">
                <img class="mx-auto w-60 rounded-md shadow-md p-2" src={testimonial.image_url} alt="" />
                <div class="text-center">
                  <div class="text-base font-medium">{testimonial.name}</div>
                </div>
              </figcaption>
            </figure>
          ))
        }
      </div>
    </div>
  </div>
</section>
