---
import { awards } from '../../content/_awards.ts';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8"></div>

  <!-- Stats -->
  <dl class="flex flex-wrap gap-4 p-4">
    {
      awards.map((award) => (
        <div class="w-fit flex-grow overflow-hidden rounded-lg px-6 py-5 ring-1 ring-primary-400/20 transition-all hover:shadow-md dark:ring-primary-700/20 sm:p-6">
          <h1 class="flex-grow text-2xl font-medium">{award.title}</h1>
          <div class="flex flex-wrap gap-2">
            {award.awards.map((award) => (
              <div class="flex h-40 flex-grow flex-col items-center justify-center rounded-md bg-primary-100 p-2 dark:bg-primary-900/40">
                <p class="text-center">{award.title}</p>
                <img src={award.image_url} alt="" class="w-40 rounded-sm p-5 shadow-sm" />
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </dl>
</section>
